{%- assign status = page | job_posting_status -%}
{%- assign link = page["application link"] -%}
{%- assign is_link = link | string_is_link -%}

{%- if status == "open" -%}
Submit a complete online application prior to {% include job/close_date.html %}.
Please fill out all applicable fields.

{% if is_link %}
[Click here to apply]({{ link }}){: .usa-button .usa-button-secondary }
{% else %}
The link will be available shortly.
{% endif %}

**Need Assistance in applying or have questions regarding this job opportunity,
please email the TTS Talent Team at** <jointts@gsa.gov>.
{%- elsif status == "upcoming" %}
If you would like to learn more or if you’d like to be notified when
the application is open, please join our  <a href="{% link pages/newsletter.md %}">newsletter</a>.
{%- endif -%}