<strong>Appointment type:</strong>
{% assign type = page["appointment type"] | slice: 0, 4 %}
{%- if type == "perm" -%}
  This is a permanent position.
{%- elsif type == "term" -%}
  This is a term appointment. Initial appointments are made lasting longer than
  1 year, but not to exceed 4 years. GSA, may extend an appointment up to 4
  additional years. No individual hired under this DHA can serve in excess of 8
  years with GSA, and cannot be transferred to positions that are not IT
  positions.
{%- endif -%}