{% assign future_sessions = page | future_info_sessions %}

{% if future_sessions.size > 0 %}
  <div class="usa-summary-box">
    <div class="usa-summary-box__body">
      <h3 class="usa-summary-box__heading">
        Attend an information session for this position
      </h3>
      <div class="usa-summary-box__text" markdown="1">
        <ul>
        {% for session in future_sessions %}
          <li><a href="{{session.link}}">{{session.date | human_friendly }}</a> at {{session.time}}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endif %}