{% assign state = page | job_posting_status %}
{% assign open = page.opens | date: "%s" | minus: 0 %}

{% if state == "closed" %}
  {% include alert.html
    type="warning"
    heading="This job posting has closed."
    body="Please see [our other open positions](/#open-positions)."
  %}
{% elsif state == "upcoming" %}
  {% capture body %}
  <a href="{% link pages/newsletter.md %}">Get notified</a> when this position opens.
  {% endcapture %}
  {% include alert.html
    type="info"
    heading="Coming soon"
    body=body
  %}
{% elsif state == "open" %}
  {% capture body %}
  {% assign max = page["max applications"] | plus: 0 %}
  This role is open for applications until {% include job/close_date.html %}{% if max > 0 %} or {{ page["max applications"] }} applications have been received{% endif %}.
  {% endcapture %}
  {% include alert.html
    type="info"
    heading="Apply now!"
    body=body
  %}
{% endif %}
