{% assign state = page | job_posting_status %}
{% assign open = page.opens | date: "%s" | minus: 0 %}

{% if state == "closed" %}
  {% include alert.html
    type="warning"
    heading="This job posting has closed."
    body="Please see [our other open positions](/#open-positions)."
  %}
{% elsif state == "upcoming" %}
  {% capture body %}
  We will soon be accepting applications for this position.
  {% if open == 0 %}
  The opening date for this position has not yet been determined.
  {% else %}
  We expect to begin taking applications on {% include job/open_date.html %}.
  {% endif %}
  If you would like to learn more or if you'd like to be notified when the application is open, please <a href="https://join.tts.gsa.gov/newsletter/">join our mailing list</a>.
  {% endcapture %}
  {% include alert.html
    type="info"
    heading="Upcoming role"
    body=body
  %}
{% elsif state == "open" %}
  {% capture body %}
  {% assign max = page["max applications"] | plus: 0 %}
  This role is open for applications until {% include job/close_date.html %}{% if max > 0 %} or {{ page["max applications"] }} applications have been received{% endif %}.
  {% endcapture %}
  {% include alert.html
    type="info"
    heading="Apply now!"
    body=body
  %}
{% endif %}
