---
---
$theme-color-base-dark: #565c65;
$theme-color-primary-darker: #162e51;
$theme-color-accent-cool-lighter: #e1f3f8;

/* Header */
.usa-header--extended .usa-logo {
  max-width: none;
}

/* Hero */
.usa-hero {
  background-image: none;
  background-color: $theme-color-primary-darker;
  -webkit-font-smoothing:antialiased;
}

.usa-hero__heading--white {
  color: #FFF;
}

.usa-hero__heading--alt,
.usa-hero__heading--highlight {
  color: $theme-color-accent-cool-lighter;
}
.usa-header--extended .usa-navbar {
  max-width: 64rem; // to match site width
}

.job-posting .usa-prose > p {
  max-width: 100ex; // default is 64ex and too narrow
}

.usa-social-link--linkedin {
  background-image: url(../img/linkedin.svg), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
}

.usa-social-link--github {
  background-image: url(../img/github-dark.svg), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
}


// distinguish dropdown nav from underlapping hero area using same background color
.usa-nav__submenu {
  box-shadow: #212121 1px 4px 8px 0px;
}

// make Newsletter link in header look like a button instead
.usa-nav__secondary .usa-button-secondary {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #0071bc;
  color: #0071bc !important;

  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 5px;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: .75rem 1.25rem;
  text-align: center;
  text-decoration: none !important;
  &:hover {
    box-shadow: inset 0 0 0 2px #205493;
    color: #205493 !important;
  }
  &:active {
    box-shadow: inset 0 0 0 2px #112e51;
    color: #112e51 !important;
  }
  &:focus {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 2px #0071bc;
    color: #0071bc !important;
  }
  @media screen and (min-width: 481px) {
    width: auto;
  }
}

.usa-header .usa-navbar .usa-logo a {
  color: $theme-color-primary-darker;
}


.usa-prose-first-child-intro > p:first-child {
  font-family: "Merriweather Web", Georgia, Cambria, Times New Roman, Times, serif;
  font-size: 1.34rem;
  line-height: 1.8;
  font-weight: 400;
  max-width: 88ex;
}
.usa-prose {
  h2, h3 {
    line-height: 1.3;
  }
  sup {
    margin-left: .15rem;
  }
  blockquote {
    background-color: #f1f1f1;
    padding: 1rem 2rem;
    margin: 2rem 0;
    position: relative;
    &::before {
      background-color: #a9aeb1;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 0.5rem;
    }
  }
}

.back-breadcrumb {
  &:before {
    display: inline-block;
    vertical-align: baseline;
    height: .8rem;
    width: .8rem;
    content: '';
    background: url('/assets/uswds/img/angle-left-solid.svg') no-repeat center left transparent;
    background-size: contain;
  }
}

.position-list.usa-prose > ul li.with-info-sessions {
  margin-bottom: 1rem;

  button.usa-accordion__button {
    background-color: #d9e8f6;
  }

  div.usa-accordion__content.usa-prose {
    border-color: #d9e8f6;
  }
}