---
---
$theme-color-base-dark: #565c65;
$theme-color-primary-darker: #162e51;
$theme-color-accent-cool-lighter: #e1f3f8;

/* Header */
.usa-header--extended .usa-logo {
  max-width: none;
}

/* Hero */
.usa-hero {
  background-image: none;
  background-color: $theme-color-primary-darker;
}

.usa-hero__heading--alt,
.usa-hero__heading--highlight {
  color: $theme-color-accent-cool-lighter;
}
.usa-header--extended .usa-navbar {
  max-width: 64rem; // to match site width
}

.job-posting .usa-prose > p {
  max-width: 100ex; // default is 64ex and too narrow
}

// OLD SHIT
// Set typographic styles
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   clear: both;
//   font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
//   line-height: 1.3;
//   margin-bottom: 0.5em;
//   margin-top: 1.5em; }

// h1 {
//   font-weight: 600; }

// h2 {
//   margin-top: 3em;
//   color: #00567E; }

// a:hover,
// a:active {
//   color: #00567E; }

// Set banner background color
// .usa-banner {
  // background-color: #F1F1F1; }

// Set header background color
// .usa-header {
  // background-color: #202020; }

// Set nav as hidden
// .usa-nav {
  // display: none; }

// Set menu button default colors
// .usa-menu-btn {
  // color: #1c304a;
  // background-color: #00cfff; }

// Set menu button hover colors
// .usa-menu-btn:hover {
  // color: #1c304a;
  // background-color: #b3efff; }

// Set table header background color
// thead th,
// thead td {
//   background-color: #d8f7ff; }

// // Set table border color
// th,
// td {
//   border: 1px solid#B6B6B6; }

// // Shorten logo text on small screen sizes
// @media screen and (max-width: 369px) {
//   .usa-logo-text {
//     a {
//       display: none;
//     }
//   }

//   .usa-logo-text {
//     &::after {
//       content: "Join TTS";
//       color: #fff;
//     }
//   }
// }

// .offices {
//   list-style-type: none;
//   margin-bottom: 20px;
// }

// .office {
//   float: left;
//   margin-right: 0.5em;
// }

// // Set footer background color
// .usa-footer-secondary_section {
//   background-color: #ebebeb; }

// // Set footer agency logo(s) max-width
// .usa-footer-logo-img {
//   max-width: 25rem; }

// // Add padding to footer contact links section
// .usa-width-one-half {
//   padding: 1.5rem 0; }

// // Add padding to footer twitter icon
// .usa-link-twitter {
//   padding: 0 0 0 5rem; }

// .usa-footer__logo-img {
//   max-width: 15rem;
// }

.usa-social-link--linkedin {
  background-image: url(../img/linkedin.svg), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
}

.usa-social-link--github {
  background-image: url(../img/github-dark.svg), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
}


// distinguish dropdown nav from underlapping hero area using same background color
.usa-nav__submenu {
  box-shadow: #212121 1px 4px 8px 0px;
}

// make Newsletter link in header look like a button instead
.usa-nav__secondary .usa-button-secondary {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #0071bc;
  color: #0071bc !important;

  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 5px;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: .75rem 1.25rem;
  text-align: center;
  text-decoration: none !important;
  &:hover {
    box-shadow: inset 0 0 0 2px #205493;
    color: #205493 !important;
  }
  &:active {
    box-shadow: inset 0 0 0 2px #112e51;
    color: #112e51 !important;
  }
  &:focus {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 2px #0071bc;
    color: #0071bc !important;
  }
  @media screen and (min-width: 481px) {
    width: auto;
  }
}