---
---

h2 {
  margin-top: 3em;
}

.usa-nav {
  display: none;
}

// Sticky sidebar
@media screen and (min-width: 951px) {
  .usa-layout-docs {
    .sidenav {
      position: sticky;
      top: 0;
    }
  }
}

// Shorten logo text on small screen sizes
@media screen and (max-width: 369px) {
  .usa-logo-text {
    a {
      display: none;
    }
  }

  .usa-logo-text {
    &::after {
      content: "Join TTS";
      color: #fff;
    }
  }
}

.offices {
  list-style-type: none;
  margin-bottom: 20px;
}

.office {
  float: left;
  margin-right: 0.5em;
}
