---
layout: default
---

{% capture now %}
{{ 'now' | date: '%s' | plus: 0 }}
{% endcapture %}
{% assign now = now | strip %}

{% assign empty_list = "" | split: "" %}
{% assign sorted_info_sessions = page["info sessions"] | default: empty_list | sort: "date" %}

<div class="grid-container">
  <div class="grid-row grid-gap">
    <div class="desktop:grid-col-12 margin-top-4">
      <a href="/" class="back-breadcrumb">Back to all jobs</a>
    </div>
  </div>
</div>

<section class="usa-section job-posting padding-top-4">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="desktop:grid-col-12 usa-prose margin-bottom-3">
        <h1>{% if page.org %}{{ page.org }}: {% endif %}{{ page.title }}</h2>

        <div class="grid-row grid-gap padding-top-4">
          <div class="desktop:grid-col-8 usa-prose">
            {{ content }}
          </div>

          <div class="desktop:grid-col-4 desktop:margin-top-0">
          {% include job/info_sessions.html %}
          </div>
        </div>

      </div>
    </div>
  </div>
</section>